# Storage & Video Services
CLOUDFLARE_R2_ACCESS_KEY=
CLOUDFLARE_R2_SECRET_KEY=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ENDPOINT=

AMAZON_S3_ACCESS_KEY=
AMAZON_S3_SECRET_KEY=
AMAZON_S3_BUCKET=
AMAZON_S3_REGION=

MUX_TOKEN_ID=
MUX_TOKEN_SECRET=

# Database
DATABASE_URL=postgres://user:password@host:port/dbname
